@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'SCOREBOARD';
    src: url('../fonts/SCOREBOARD.ttf') format('truetype');

}
:root{
    --cor1:#DEB5A9;
    --cor2:#915543;
    --cor3:#453834;
    --cor4:#5E372B;
    --cor5:#463935;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'SCOREBOARD', cursive;
    --font-android: 'Anton', cursive;

}

body{
    height: auto;
    max-width: 480px;
    min-width: 270px;
    font-family: var(--font-padrao);
    
}

*{
    padding: 0px;
    margin: 0px;
}


.bg_video{
    position: fixed; 
    height: 116.5vh;
    z-index: -1000;
    background-size: cover; 
    
}


#title{
    display: none;
    /*margin: auto;
    width: 100vw;
    height: 13%;
    position: fixed;
    color: white;
    text-align: center;
    font-family: var(--font-destaque);
    font-size: 40px;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #daa520, #463935, #535353, #463935, #cf980c );
    animation: mygradient 9s ease infinite;
*/
}


@keyframes mygradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#menu{
    display: none;
}



#icon-menu{
    background-color: white;
    position: fixed;
    right: 0;
    top: 98%;
    width: 100vw;
    margin-top: -1.5em;
    height: auto;
    text-align: center;
    background-size: 200% 200%;
    /*background-image: linear-gradient(45deg, #daa520, #463935, #535353, #463935, #cf980c );
    animation: mygradient 9s ease infinite;*/
}

#icons{
    color: black;
    margin-top: 0px;
    font-size: 30px;
    margin-right: 40px;
    font-weight: normal;
}
#last-icon{
    color: black;
    margin-top: 5px;
    font-size: 30px;
}

.logo{
    display: table-cell;
    vertical-align: middle;
    width: 160px;
    margin: auto;
}
#url{
    display: none;
}

section{
    display: block;

}
#childrenclay {
    background-color: rgba(128, 128, 128, 0.349);
    overflow: hidden;
}
#childrenclay > h1{
    text-align: center;
    font-family: var(--font-destaque);
    font-size: 2.9em;
    letter-spacing: 2px;
}
#childrenclay> p{
    margin-top: 5px;
    padding: 0px 38px;
    font-family: var(--font-android);
    font-size: 15px;
}
#childrenclay > img{
    position: relative;
    width: auto;
    
    
}
